# MongoDB Atlas connection
# Get this from MongoDB Atlas -> Database -> Connect -> Drivers
MONGODB_URI="mongodb+srv://<db_username>:<db_password>@portfolio.y5kloc8.mongodb.net/?retryWrites=true&w=majority&appName=Portfolio"

# Admin panel credentials (used to seed/create the admin user in MongoDB)
ADMIN_USERNAME="ghostadmin"
ADMIN_PASSWORD="ghostadmin123"

# Server port
PORT=5000